.custom_book_cover{
    padding-top: .5rem;
}

.custom_avail_yes{
    color: green;
}

.custom_avail_no{
    color: red;
}

.custom_price_cover{
    margin: 2rem 0;
}

.custom_new_price{
    color: green;
    font-size: 2rem;
    font-weight: 900;
}

.custom_old_price{
    color: gray;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.custom_common_right{
    color: green;
}

.custom_margin_right{
    margin-right: 1rem !important;
}

.ui.breadcrumb a.section{
    padding: 1rem !important;
}

.custom_blue{
    background: #172B5C !important;
    color: #ffffff !important;
}

.custom_blue:active {
    background: red !important;
}

.custom_form_for_shopping{
    display: inline;
}

.show_image{
    max-height: 30rem;
    width: auto;
}